<div class="" id="left_menu">

    <div class="sidebar-group">
        <div class="cat">Catalog</div>
        <!--category-productsr-->
        <div class="panel-group category-products" id="accordian">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#medicina" class=""
                            aria-expanded="true">
                            <span class="badge pull-right">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a><a routerLink="/medicina/root">Medicina</a>

                    </p>
                </div>
                <div id="medicina" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">


                        <ul style="padding-left:10px;font-size:13px;margin-top:5px;">
                            <li>
                                <a routerLink="/medicina/special">Special medicine</a>
                            </li>
                            <li>
                                <a routerLink="/medicina/alternative">Popular and alternative medicine</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#informatika-kompjyuternaya-literatura"
                            class="collapsed" aria-expanded="false">
                            <span class="badge pull-right">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a><a routerLink="/computer">Computer science. Computer literature</a>

                    </p>
                </div>
                <div id="informatika-kompjyuternaya-literatura" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">

                        <ul style="padding-left:10px;font-size:13px;margin-top:5px;">
                            <li><a
                                routerLink="/computer/science">Computer science</a>
                            </li>
                            <li><a
                                routerLink="/computer/programming">Programming</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VK Widget -->

</div>