<header id="header">
  <!--header-->
  <div class="header_top">
      <!--header_top-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <div class="contactinfo">
                      <ul class="nav nav-pills">
                          <li><a href="#"><i class="fa fa-envelope"></i> sale@books.ua</a></li>
                          <li><a href="#"><i class="fa fa-phone"></i> +38 (057) 714 04 70</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                  <div class="shop-menu pull-right">
                      <ul class="nav navbar-pills">

                          <li>     							</li>
                          <li>
                              <span>
                                  <i class="fa fa-shopping-cart"></i>&nbsp; <a href="/cart/index?returnUrl=%2F">Basket</a>
                              </span>
                          </li>
                          <li>
                              <div id="cart">
                                  0 products,
                                  0 grn.

                              </div>
                          </li>
                          <li *ngIf="currentUser">
                              <span><i class="fa fa-lock"></i>&nbsp;<a (click)="logout()">Logout</a></span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header_top-->
  <div class="header-middle">
      <!--header-middle-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="logo pull-left">
                        <a routerLink="/" class="active"> {{appTitle}}</a>
                      <!-- <a href="/"><img src="/Content/themes/base/images/Logo1.jpg" alt="Р›РѕРіРѕС‚РёРї"></a> -->
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div id="search" class="search_box">
                      
                          <input id="searchData" name="searchData" placeholder="Search by title, author, ISBN, publisher among 25,000 books" type="text" value=""><input type="submit" class="search-submit" value="">
                     						<!-- <div id="autoSearch"></div> -->
                  </div>
              </div>

          </div>
      </div>
  </div><!--/header-middle-->

  <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12">
                  <div class="mainmenu">
                      <ul class="nav">
                          <li><a routerLink="/" class="active">Home</a></li>
                          <li><a routerLink="/about">About</a></li>
                          <li><a routerLink="/payment">Payment</a></li>
                          <li><a routerLink="/contact">Contact</a></li>
                          <li><a routerLink="/admin">Admin Panel</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header-bottom-->
</header><!--/header-->
